@(filmes: List[Filme])

@main("Filmes"){

    <div id="fb-root"></div>

    <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '314993242256761',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v2.8'
                });
                FB.AppEvents.logPageView();
            };
            
            (function () {

                if (document.getElementById('facebook-jssdk')) {return;}

                var firstScriptElement = document.getElementsByTagName('script')[0];
                var facebookJS = document.createElement('script');
                facebookJS.id = 'facebook-jssdk'

                facebookJS.src = '//connect.facebook.net/en_US/all.js';

                firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
                
            }());

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="@routes.FilmeCRUD.novoFilme()">Novo filme</a></li>
                <li class="active"><a href="/">Home</a></li>
            </ul>
            <h3 class="text-muted">Filmes</h3>
        </div>
        <table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
            <tfoot>
                <tr>
                    <th>ano</th>
                    <th>filme</th>
                    <th>diretor</th>
                    <th>dura&ccedil;&atilde;o</th>
                    <th>g&ecirc;nero</th>
                    <th>IMDB</th>
                </tr>

                @for(filme <- filmes){
                    <tr>
                        <td>@filme.ano</td>
                        <td><a href="@routes.FilmeCRUD.detalhar(filme.id)">@filme.nome</a></td>
                        <td>@filme.diretor</td>
                        <td>@filme.duracao</td>
                        <td>@filme.genero</td>
                        <td nowrap="nowreap"><a href="@filme.url" target="_blank">nota: @filme.nota com @filme.votos votos</a> </td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
    <center>
        <div
        class="fb-comments"
        data-href="http://localhost:9000/filme"
        data-numposts="5"
        data-colorscheme="light">
        </div>
    </center>
}